<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="~/css/customer-site.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/lib/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/customer-custom.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
@*    <link href="~/lib/bootstrap/4.4.1/css/customer-offcanvas.css" rel="stylesheet" />*@
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
</head>
<body>
    <div class="mainContainer">
    <header>
        <nav>
            <div class="logo">
                <img src="~/assets/reliance.png" alt="reliance logo" />
            </div>

            <ul class="nav-links">
                    <li><a class="load" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="load" asp-controller="Home" asp-action="Subscriptions">Subscriptions</a></li>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li><a class="load" asp-controller="Account" asp-action="SignOut"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Sign Out</a></li>
                    }
                    else
                    {
                        <li><a class="load" asp-controller="Account" asp-action="SignIn"><i class="fa fa-sign-out"></i>&nbsp;&nbsp;Sign in</a></li>
                    }
            </ul>

            <div class="menu-icon">
                <i class="fas fas fa-bars icon-bars"></i>
            </div>
        </nav>
    </header>

    <div class="mobile-nav">
        <div class="mobile-nav-container">
            <div class="icon-close-menu">
                <i class="fas fa-times icon-close"></i>
            </div>

            <ul class="mobile-nav-links">
                <li>
                    <a asp-controller="Home" asp-action="Index" class="load"><i class="fas fa-home nav-icon"></i>home</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Subscriptions" class="load"><i class="fa-solid fa-gear nav-icon"></i> subscriptions</a>
                </li>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        @*<li><a class="text-white" asp-controller="Account" asp-action="SignOut">&nbsp;<i class="fa fa-sign-out"></i>Sign Out</a></li>*@
                        <li class="logout load">
                            <a asp-controller="Account" asp-action="SignOut" class="load">
                                <i class="fas fa-sign-out-alt nav-icon icon-logout"></i>sign
                                out
                            </a>
                        </li>
                    }
                    else
                    {
                        @*<li><a class="text-white" asp-controller="Account" asp-action="SignIn">&nbsp;<i class="fa fa-sign-out"></i>Sign in</a></li>*@
                        <li class="logout load">
                            <a asp-controller="Account" asp-action="SignIn">
                                <i class="fas fa-sign-out-alt nav-icon icon-logout"></i>sign
                                out
                            </a>
                        </li>
                    }
            </ul>
        </div>
    </div>


    <div class="mainContainer">
        <partial name="_CookieConsentPartial" />
        <main role="main">
            @RenderBody()
        </main>
    </div>
</div>
    <section class="modal-loader hidden">
        <div class="modal-block">
            <div class="loader"></div>
            <div class="loading-text">
                <p>loading...</p>
            </div>
        </div>
    </section>

    <footer class="cm-footer">
        <div class="container text-center" style="font-size:12px !important">
            &copy; 2023 - Reliance Infosystems Limited
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@*    <script src="~/lib/bootstrap/4.4.1/js/offcanvas.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>

        document.addEventListener("DOMContentLoaded", function () {
            // Your code here
            document.querySelector(".modal-loader").classList.remove("hidden");

            setTimeout(function () {
                document.querySelector(".modal-loader").classList.add("hidden");
            }, 1000);
        });

        $(function () {
            $(".load").on('click', function (e) {

                //e.preventDefault() // prevent the form's normal submission

                //
                const loader = document.querySelector(".modal-loader");
                const successModal = document.querySelector(".modal-success");

                loader.classList.remove("hidden");

            });
        });

        $(function () {
            $(".loadProp").on('click', function (e) {

                //e.preventDefault() // prevent the form's normal submission

                //
                const loader = document.querySelector(".modal-loader");
                const successModal = document.querySelector(".modal-success");

                loader.classList.remove("hidden");

                setTimeout(function () {
                    document.querySelector(".modal-loader").classList.add("hidden");
                }, 700);

            });
        });

    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
