@*@using Microsoft.Marketplace.SaasKit.Client.Models*@
@using Microsoft.AspNetCore.Mvc.TagHelpers
@*@model Microsoft.Marketplace.SaasKit.Client.Models.SubscriptionResultExtensionSubscriptionResultExtension
    @{
        //ViewData["Title"] = "Home";
    }*@
<div class="container">
    <form method="post">
        <div class="cm-panel-default mt40">
            <div class="p-3">
                <p>
                    Processing your request. This is might take a while, Once it complates it will reflect on the subscription list.
                </p>
                <p>
                    We will notify the publisher and once your request is acted on you will be notified.
                </p>
            </div>
        </div>
        <div class="text-right">
            <button type="submit" asp-action="Subscriptions" class="cm-button-default mt40 text-right load">Subscription List</button>
        </div>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Your code here
        document.querySelector(".modal-loader").classList.remove("hidden");

        setTimeout(function () {
            document.querySelector(".modal-loader").classList.add("hidden");
        }, 100);
    });
</script>